.site-header {
  width: 100%;
  background-color: var(--background-dark-brown);
  color: var(--white);
  padding: 1.5rem 0;
  font-size: clamp(1.5rem, 4vw, 3rem);
  font-family: "Macondo Swash Caps", cursive;

  h1 {
    margin: 0;
    text-wrap: balance;
    text-align: center;
  }
}
