footer {
  display: flex;
  margin-bottom: 30px;

  img {
    max-height: 300px;
    margin: 60px;
  }
}

@media screen and (width < 599px) {
  footer {
    flex-direction: column;

    img {
      margin: 0;
    }
  }
}
