.clock{
  border: 1px solid darkgrey;
  text-align: center;
  background-color: black;
  width: 75%;
  p{
    background-color: black;
    font-family: "DM Mono", monospace;
    color: lime;
    font-size: 2rem;
    font-weight: 800;
  }
}
