.clock{
  border: 1px solid darkgrey;
  text-align: center;
  background-color: black;
  width: 75%;
  p{
    background-color: black;
    font-family: "DM Mono", monospace;
    color: lime;
    font-size: 2rem;
    font-weight: 800;
  }
}
.all-time{
  width: 50%;
  height: 200px;
  background-color: var(--white);
  padding: 20px;
  border: solid 3px var(--border-highlight);
  margin: 20px;
}
select{
  padding: 10px;
  margin: 10px;
}
