/* Core Grid CSS */
@import 'ag-grid-community/styles/ag-grid.css';
/* Quartz Theme Specific CSS */
@import 'ag-grid-community/styles/ag-theme-quartz.css';

:root {
  // colors
  --background-light-blue: oklch(97% 0.02 219.41);
  --background-dark-brown: oklch(52.65% 0.126 245.65);
  --background-medium-brown: oklch(72.65% 0.106 237.84);
  --font-color: oklch(31.42% 0.011 55.94);
  --white: oklch(100% 0 0);

  // font variables
  --font-family: Roboto, "Work Sans", sans-serif;
}

html, body { height: 100%; }
body {
  font-family: var(--font-family);
  margin: 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0;
  background-color: var(--background-light-blue);
}

a {
  text-decoration: none;
  color: var(--font-color);
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
}
