button{
  background-color: aqua;
  padding: 15px;
  border-radius: 25px;
}

.close{
  background-color: rgb(200, 248, 200);
}

.main-content {
  margin-top: 30px;
  background-color: var(--white);
  padding: 20px;
}
