<div class="main-container">
  <mat-tab-group>
    <mat-tab label="Welcome to Meowmerican Wanderlust">
      <div class="content-wrapper">
        <h2>Welcome to <i>Meowmerican Wanderlust.</i></h2>
        <p>Our mission for this application is improve the load time.</p>
        <p>To do that, we need to figure out the best way to perform code splitting or lazy loading of the bundle.</p>
        <p>In this branch, the initial bundle size is:</p>
        <p class="size"><b>Raw Size:</b> 640.10 kB</p>
        <p class="size"><b>Est Transfer Size:</b> 116.23 kB</p>
      </div>
    </mat-tab>
    <mat-tab label="What Time Is It?">
      @defer {
        <app-clock/>
      } @placeholder {
        <div class="content-wrapper"><h2> Clock Placeholder</h2></div>
      }
    </mat-tab>
    <mat-tab label="Wanna See Something Cool?">
      @defer {
        <app-legacy/>
      } @placeholder {
        <div class="content-wrapper"><h2>Legacy Placeholder</h2></div>
      }
    </mat-tab>
    <mat-tab label="Are You Looking For a Cat?">
      @defer {
        <app-list/>
      } @placeholder {
        <div class="content-wrapper"><h2> List Placeholder</h2></div>
      }
    </mat-tab>
  </mat-tab-group>
</div>
<div
  class="band-of-cats"
>
  <a href="https://www.nps.gov/planyourvisit/index.htm" target="_blank">Visit The National Parks</a>
</div>
@defer {
  <app-footer/>
} @placeholder {
  <footer class="content-wrapper"><h2>Footer Placeholder</h2></footer>
}
