<div class="main-container">
  <mat-tab-group #homeMenu>
    <mat-tab label="Welcome to Meowmerican Wanderlust">
      <div class="content-wrapper">
        <h2>Welcome to <i>Meowmerican Wanderlust.</i></h2>
        <p>Our mission for this application is improve the load time.</p>
        <p>To do that, we need to figure out the best way to perform code splitting or lazy loading of the bundle.</p>
        <p>In this branch, the initial bundle size is:</p>
        <p class="size"><b>Raw Size:</b> 2.17 MB</p>
        <p class="size"><b>Est Transfer Size:</b> 393.81 kB</p>
      </div>
    </mat-tab>
    <mat-tab label="What Time Is It?">
      @defer (when numberOfClicks === 5) {
        <app-clock/>
      } @placeholder {
        <div class="content-wrapper">
          <h2>Clock Placeholder</h2>
          <button (click)="addClick()">Number of Clicks: {{ numberOfClicks }}</button>
        </div>
      } @loading (minimum 3s) {
        <div class="content-wrapper"><h2>Clock Loading...</h2></div>
      }
    </mat-tab>
    <mat-tab label="Wanna See Something Cool?">
      @defer (on timer(20s)) {
        <app-legacy/>
      } @placeholder {
        <div class="content-wrapper"><h2>Legacy Placeholder</h2></div>
      } @loading(minimum 5s) {
        <div class="content-wrapper"><h2> Legacy Loading...</h2></div>
      }
    </mat-tab>
    <mat-tab label="Are You Looking For a Cat?">
      @defer (on hover(homeMenu)) {
        <app-list/>
      } @placeholder {
        <div class="content-wrapper"><h2>List Placeholder</h2></div>
      }
    </mat-tab>
  </mat-tab-group>
</div>
<div
  class="band-of-cats"
>
  <a href="https://www.nps.gov/planyourvisit/index.htm" target="_blank">Visit The National Parks</a>
</div>
@defer (on viewport) {
  <app-footer/>
} @placeholder {
  <footer class="content-wrapper"><h2>Footer Placeholder</h2></footer>
}
