button{
  background-color: aqua;
  padding: 15px;
  border-radius: 25px;
}

.close{
  background-color: rgb(200, 248, 200);
}

.main-content {
  margin-top: 30px;
  background-color: var(--white);
  padding: 20px;
}

.band-of-cats{
  background-image: url('../../assets/footer/band-of-cats.jpg');
  background-repeat: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  border-top: 30px solid var(--border-highlight);
  a{
    text-align: center;
    color: var(--white);
    margin: 30px;
    font-size: 4rem;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
}
.size{
  font-size: 1.5rem;
}
